div {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  border: 2px solid red;
  transition: width 2s, height 2s, transform 3s;
}

div:hover {
  width: 400px;
  height: 200px;
  transform: rotate(180deg);
}
